controller_manager:
  ros__parameters:
    update_rate: 1000  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    type: joint_trajectory_controller/JointTrajectoryController
    joints:
      - base_joint
      - arm_joint
      - elbow_joint
      - gripper_joint
      - gripper_left_finger_joint
      - gripper_left_finger_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity